<style>
       body {
           background: yellowgreen;
       }

</style>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <br>
      <img src="https://lh3.googleusercontent.com/uax8IVuNw8GWiRMuAJdHK8GaJFqlTtjsS0wrMcJxjCXWvSRk74BlQVb0X_34p1O4Jg=h310"><br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
   <h3>Ponies waiting for a Rider</h3>
   <br>
   <ul>
  {{#each ponies}}
  {{#unless ride}}
  	<li>
  	   <b>ID:{{this.id}}</b>  Pony Name: {{this.pony_name}} <button type="submit" data-id="{{this.id}}" a href="/ride">Ride This Pony</button>
  	</li>
  {{/unless}}
  {{/each}}
</ul>
    </div>
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-5">
      <h3>Ponies in the barn</h3>
 <br>
      <ul>
  {{#each ponies}}
  {{#if ride}}
  	<li>
  	   <b>ID:{{this.id}}</b>  Pony Name: {{this.pony_name}}
  	</li>
      {{/if}}
  {{/each}}
</ul>
    </div>
    </div>
<div class="row">
    <div class="col-sm-5">
    <h2> Add a pony</h2>
    <form class="create-form" method="POST" action="/add">
        <textarea type="text" name="newPony" placeholder="Add New Pony name here"></textarea>
        <button type="submit">Add Pony</button>
    </div>
    <div class="col-sm-2"></div>
    <div class="<col-sm-5">
    <h2> Change a pony name</h2>
    <form class="create-form" action="/update?_method=PUT">
        <input type="text" name="id" placeholder="ID">
        <textarea type="text" name="newPonyNM" placeholder="Type new pony name"></textarea>
        <button type="submit">Add Pony</button>
    </div>
</div>
</div>
